{% extends 'base.html.twig' %}

{% block container %}

    {% for successMessage in app.flashes('success') %}
        <div class="d-flex justify-content-center ">
            <div class="alert alert-success w-75 text-center" role="alert">
                {{ successMessage|raw }}
            </div>
        </div>

    {% endfor %}

    {% for errorMessage in app.flashes('error') %}
        <div class="d-flex justify-content-center ">
            <div class="alert alert-danger w-75 text-center" role="alert">
                {{ errorMessage|raw }}
            </div>
        </div>
    {% endfor %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" style=" color: #000000;">Page de Connexion</h2>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger text-center">
                                {{ error.messageKey|upper }}
                            </div>
                        {% endif %}

                        <form action="{{ path('app_login') }}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">E-mail</label>
                                <input type="text" name="_username" value="{{ last_username }}" class="form-control" id="username" placeholder="E-mail" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="_password" class="form-control" id="password" placeholder="Mot de passe" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
