{% extends 'base.html.twig' %}

{% block container %}
    <div style="position: relative; width: 100%; margin-bottom: 20px;">
        <img style="width: 100%; height: 550px; display: block; -webkit-user-select: none; margin: auto; cursor: zoom-in; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;" src="https://images.ctfassets.net/rporu91m20dc/1ZFjWnwsLnTpFaZ6zMERiP/cf5f634b4708916c9fa39ae18280225a/Skyrim10-leather-bg.jpg?q=70&amp;&amp;&amp;fm=webp" width="1157" height="377">
        <div style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 24px; font-weight: bold;">
            Modification de l'auteur {{ auteur.name }}
            <br>
            <br>
        </div>
    </div>


    <section style="margin-top: 30px">
        <div>
            <article
            style="
            display: flex;
            justify-content: center;
            align-items: center;"
            >
                <div
                style="
                width: 45%;
                ">
                    <div class="container">
                        {{ form_start(formAuteurEdit) }}
                        <div class="form-group">
                            {{ form_widget(formAuteurEdit.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteurEdit.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteurEdit.image) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteurEdit.age) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteurEdit.submit) }}
                        </div>
                        {{ form_end(formAuteurEdit) }}
                    </div>
                </div>

                <div style="width: 5%">
                </div>

                <img
                style="
                width: 45%;
                border-radius: 10px;
                " src="{{ asset('Image/bookreader.png') }}" class="card-img-top" >

            </article>
        </div>
    </section>


    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}