{% extends 'base.html.twig' %}

{% block container %}
    <div style="position: relative; width: 100%; margin-bottom: 20px;">
        <img style="width: 100%; height: 550px; display: block; -webkit-user-select: none; margin: auto; cursor: zoom-in; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;" src="https://images.ctfassets.net/rporu91m20dc/1ZFjWnwsLnTpFaZ6zMERiP/cf5f634b4708916c9fa39ae18280225a/Skyrim10-leather-bg.jpg?q=70&amp;&amp;&amp;fm=webp" width="1157" height="377">
        <div style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 24px; font-weight: bold;">
            Ici, vous aurez la possibilité d'ajouter les Auteur(s) affiliés aux livres que vous avez trouvés lors de votre voyage à travers Bordeciel.
            <br>
            <br>
            <button class="btn btn-light"> Voire la liste des Auteurs </button>
        </div>
    </div>


    <section style="margin-top: 30px">
        <div>
            <article
            style="
            display: flex;
            justify-content: center;
            align-items: center;"
            >
                <div
                style="
                width: 45%;
                ">
                    <div class="container">
                        {{ form_start(formAuteur) }}
                        <div class="form-group">
                            {{ form_widget(formAuteur.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteur.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteur.image) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteur.age) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAuteur.submit) }}
                        </div>
                        {{ form_end(formAuteur) }}
                    </div>
                </div>

                <div style="width: 5%">
                </div>

                <img
                style="
                width: 45%;
                border-radius: 10px;
                " src="{{ asset('Image/bookreader.png') }}" class="card-img-top" >

            </article>
        </div>


        <div class="container mt-5">
            <div class="d-flex align-items-center flex-wrap">
                <h2 class="mb-2 mt-2 text-center mx-auto">Les Auteurs</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
                {% for auteur in auteurs %}

                    <div class="col-sm-6 col-md-3 mb-4 ">
                        <div class="card h-100" >
                            <img src="{{ asset('media/img_auteur/' ~ auteur.image) }}" style="height: 350px;" class="card-img-top" alt="Skyscrapers"/>
                            <div class="card-body  d-flex flex-column ">
                                <h5 class="card-title"> Prenom : "{{ auteur.name }}"</h5>
                                <p class="card-text font-weight-light"> Nom de famille : {{ auteur.lastname }}...</p>
                                <p class="card-text font-weight-light">Age : {{ auteur.age }}</p>

                                <div class="mt-auto">
                                 <a href=" {{ path('app_delete_auteur',{ 'id': auteur.id })}}" class="btn btn-light">Supprimer</a> {#   {{ path('app_delete_auteur',{ 'id': auteur.id })}}#}
                                 <a href="{{ path('app_edit_auteur',{ 'id': auteur.id  })}}" class="btn btn-light">Editer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}