{% extends 'base.html.twig' %}

{% block container %}
    <div style="position: relative; width: 100%; margin-bottom: 20px;">
        <img style="width: 100%; height: 550px; display: block; -webkit-user-select: none; margin: auto; cursor: zoom-in; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;" src="https://images.ctfassets.net/rporu91m20dc/1ZFjWnwsLnTpFaZ6zMERiP/cf5f634b4708916c9fa39ae18280225a/Skyrim10-leather-bg.jpg?q=70&amp;&amp;&amp;fm=webp" width="1157" height="377">
        <div style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 24px; font-weight: bold;">
            Les différents livres qui apparaissent dans Bordeciel
            peuvent accorder des quêtes, augmenter certaines compétences
            ou enregistrer des emplacements sur la carte du monde. Les livres varient
            de simples histoires, lettres, recettes, notes et journaux qui aident dans
            les quêtes et fournissent des bribes de savoir qui aident les joueurs à se
            familiariser avec la culture, les gens et l’histoire de Tamriel.
        </div>
    </div>


    <section style="margin-top: 30px">
        <div>
            <article
            style="
            display: flex;
            justify-content: center;
            align-items: center;"
            >
            <img
            style="
            width: 45%;
            border-radius: 10px;
            " src="{{ asset('Image/BackgroundBook.jpg') }}" class="card-img-top" >

            <div style="width: 5%">

            </div>

            <div
            style="
            width: 45%;
            ">
            <h2>Biography of Barenziah</h2>
            <p>Late in the Second Era, a girl-child, Barenziah,
                was born to the rulers of the kingdom of Mournhold
                in what is now the Imperial Province of Morrowind.
                She was reared in all the luxury and security befitting
                a royal Dark Elven child until she reached five years of
                age. At that time, His Excellency Tiber Septim I, the first
                Emperor of Tamriel, demanded that the decadent rulers of Morrowind
                yield to him and institute imperial reforms. Trusting to their vaunted
                magic, the Dark Elves impudently refused until Tiber Septim’s army was
                on the borders. An Armistice was hastily signed by the now-eager Dunmer,
                but not before there were several battles, one of which laid waste to Mournhold,
                now called Almalexia.
                Little Princess Barenziah and her nurse were found among the wreckage. The Imperial
                General Symmachus, himself a Dark Elf, suggested to Tiber Septim that the child might
                someday be valuable, and she was therefore placed with a loyal supporter who had recently
                retired from the Imperial Army.</p>
                <a href="https://skyrimbooksproj.web.app/">Plus Sur la Biography of Barenziah</a>
            </div>
            </article>
        </div>


        <div
                style="
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;"
        >
            <h2>L'intégrale Skyrim - Ep 1 - Playthrough FR HD par Bob Lennon</h2>
        </div>

        <div
        style="
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;"
        >
            <iframe width="900" height="400" src="https://www.youtube.com/embed/hn5gEo_BBOY?si=LRtghNCMNXw9AWzD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>

{% endblock %}