<style>
    body {
        margin: 0;
        padding-bottom: 70px;
        min-height: 100vh;
        position: relative;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 10px 0;
    }
</style>

<footer class="bg-light text-center">
    © 2024 VictorioGarcia Skyrim's Books
</footer>
