<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skyrim's Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            letter-spacing: normal;
            line-height: normal;
            text-decoration: none solid rgb(229, 229, 231);
            text-align: start;
            text-indent: 0px;
            text-transform: none;
            vertical-align: baseline;
            white-space: pre-wrap;
            word-spacing: 0px;
        }
    </style>
</head>

<body style="background-color: #E3E6E6; color: black;">
{% include 'includes/NavBar.html.twig' %}
{% block container %}




{% endblock %}
{% include 'includes/Footer.html.twig' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
