{% extends 'base.html.twig' %}

{% block container %}
    <div style="position: relative; width: 100%; margin-bottom: 20px;">
        <img style="width: 100%; height: 550px; display: block; -webkit-user-select: none; margin: auto; cursor: zoom-in; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;" src="https://images.ctfassets.net/rporu91m20dc/1ZFjWnwsLnTpFaZ6zMERiP/cf5f634b4708916c9fa39ae18280225a/Skyrim10-leather-bg.jpg?q=70&amp;&amp;&amp;fm=webp" width="1157" height="377">
        <div style="position: absolute; top: 50%; left: 40%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 24px; font-weight: bold;">
            Ici, vous aurez la possibilité d'ajouter les livres que vous avez trouvés lors de votre voyage à travers Bordeciel.
            <br>
            <br>
            <button class="btn btn-light"> Voire la liste des livres </button>
        </div>

    </div>


    <section style="margin-top: 30px">
        <div>
            <article
            style="
            display: flex;
            justify-content: center;
            align-items: center;"
            >
                <div
                style="
                width: 45%;
                ">
                    <div class="container">
                        {{ form_start(formLivre) }}
                        <div class="form-group">
                            {{ form_widget(formLivre.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formLivre.description) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formLivre.image) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formLivre.Auteur) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(formLivre.submit) }}
                        </div>
                        {{ form_end(formLivre) }}
                    </div>
                </div>

                <div style="width: 5%">
                </div>

                <img
                style="
                width: 45%;
                border-radius: 10px;
                " src="{{ asset('Image/book.jpg') }}" class="card-img-top" >

            </article>
        </div>

        <div class="container mt-5">
            <div class="d-flex align-items-center flex-wrap">
                <h2 class="mb-2 mt-2 text-center mx-auto">Les livres</h2>
            </div>

            {% for successMessage in app.flashes('success') %}
                <div class="d-flex justify-content-center ">
                    <div class="alert alert-success w-75 text-center" role="alert">
                        {{ successMessage|raw }}
                    </div>
                </div>
            {% endfor %}

            {% for errorMessage in app.flashes('error') %}
                <div class="d-flex justify-content-center ">
                    <div class="alert alert-danger w-75 text-center" role="alert">
                        {{ errorMessage|raw }}
                    </div>
                </div>
            {% endfor %}


            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
                {% for livre in livres %}

                    <div class="col-sm-6 col-md-3 mb-4 ">
                        <div class="card h-100" >
                            <img src="{{ asset('media/img_livre/' ~ livre.image) }}" style="height: 350px;" class="card-img-top" alt="Skyscrapers"/>
                            <div class="card-body  d-flex flex-column ">
                                <h5 class="card-title"> Titre : "{{ livre.name }}"</h5>
                                <p class="card-text font-weight-light"> Decription : {{ livre.description }}...</p>
                                <p class="card-text font-weight-light">Auteur : {{ livre.Auteur.name }}</p>
                                <div class="mt-auto">
                                    <a href=" {{ path('app_delete_livre',{ 'id': livre.id })}}" class="btn btn-light">Supprimer</a>
                                    <a href="{{ path('app_edit_livre',{ 'id': livre.id })}}"class="btn btn-light">Editer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>




    </section>


    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}